<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_CaculatorService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.1.28.80:4567/calculatorservice"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_CaculatorService"
                contract="CalService.CaculatorService" name="WSHttpBinding_CaculatorService">
                <identity>
                    <userPrincipalName value="shaosong@GREATWALL.LOCAL" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>